*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.demo {
    color: #666;
    width: 300px;
}

#dhaka {
    width: 300px;
    height: 200px;
    background: green;
}

h1 {
    color: blueviolet;
}

.main {
    width: 300px;
    height: 200px;
    background: green;
    display: flex;
}

.main > div {
    width: 140px;
    height: 140px;
    background: red;
    border-radius: 50%;
    margin: auto;
}

.demoText {
    width: max-content;
    /* border: 6px solid black; */
    /* border-width: 6px;
    border-style: solid;
    border-color: #000; */
    /* border-top: 6px dashed black; */
    border-top-width: 6px;
    border-top-style: dashed;
    border-top-color: #000;
    border-right: 6px double black;
    border-left: 6px double black;
    border-bottom: 6px solid black;
    /* 
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px; 
    */
    padding: 20px;
    /* 
    padding: 20px 30px 40px 50px;
    padding: 20px 30px;
    padding: 20px 30px 40px; 
    */
    
    /*
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    */
    /* margin-left: auto; */
    margin-right: auto;
    margin-top: -40px;
    /* 
    margin: 20px 30px 40px 50px;
    margin: 20px 30px;
    margin: 20px 30px 40px; 
    */
}

.abul {
    width: 200px;
    height: 200px;
    background: blue;
    margin: 20px;
    padding: 20px;
}

.babul {
    width: 200px;
    height: 200px;
    background: blue;
    margin: 20px;
}