*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    width: 300px;
    height: 200px;
    background: cornflowerblue;
}

.main:hover {
    background: lightcoral;
}

.main::before {
    content: "Mr.";
}

.main::after {
    content: "Khan";
}

.pain {
    width: 300px;
    height: 200px;
    background: limegreen;
    position: relative;
    overflow: hidden;
}

.pain::before {
    content: "";
    width: 100%;
    height: 50%;
    background: darkorange;
    position: absolute;
    bottom: -50%;
    left: 0;
    transition: 0.5s;
}

.pain::after {
    content: "";
    width: 100%;
    height: 50%;
    background: darkorange;
    position: absolute;
    top: -50%;
    left: 0;
    transition: 0.5s;
}

.pain:hover::before {
    bottom: 0%;
}

.pain:hover::after{
    top: 0%;
}

.input-field {
    margin: 20px;
    border: 1px solid #000;
    padding: 10px;
    border-radius: 6px;
}

.input-field:active {
    background: lightblue;
}

.input-field:focus {
    background: hotpink;
}

.mylink {
    color: red;
    font-size: 24px;
    font-weight: bold;
}

.mylink:visited {
    color: aqua;
}
