*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent {
    width: 600px;
    height: 400px;
    background: greenyellow;
    padding: 20px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    align-content: center;
    gap: 20px;
    /* flex-wrap: wrap; */
    /* flex-direction: row; */
    flex-flow: wrap row;
}

.child {
    width: 200px;
    height: 150px;
    background: brown;
    color: #fff;
    font-weight: 600;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.child:first-child {
    order: 3;
    flex-grow: 1;
}

.child:nth-child(2) {
    order: 1;
}

.child:nth-child(3) {
    order: 4;
    /* flex-shrink: 2; */
    flex-basis: 100px;
}

.child:last-child {
    order: 2;
}

.left {
    width: 50%;
    height: 400px;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 20px;
}