@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
}

/* Common CSS */
button {
    width: max-content;
    padding: 6px 20px;
    border-radius: 20px/50%;
    border-width: 0;
    background: darkblue;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}   

button:hover {
    box-shadow: 6px 6px 6px #000;
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    color: #00008b;
}

/* navigation bar */

nav {
    width: 100%;
    display: flex;
    padding: 0 100px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid lightblue;
    box-shadow: 0px 0px 3px blue;
    margin-bottom: 40px;
}

nav > img {
    flex-basis: 25%;
    max-height: 60px;
    width: auto;
    object-fit: contain;
    object-position: 0 center;
}

nav > ul {
    flex-grow: 1;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    font-size: 22px;
    color: darkblue;
}

nav > ul > li {
    position: relative;
}

nav > ul > li:hover {
    background: darkblue;
}

nav > ul > li:hover > a {
    color: white;
}

i {
    transition: 0.5s;
}

nav li:hover > a > i {
    transform: rotate(180deg);
}

nav > ul > li a {
    text-decoration: none;
    line-height: 60px;
    color: inherit;
    display: block;
    padding: 0 20px;
}

.snav {
    list-style: none;
    position: absolute;
    width: max-content;
    background: darkblue;
    color: #fff;
    transition: 0.5s;
    top: 140%;
    left: 0%;
    opacity: 0;
    visibility: hidden;
    border: 1px solid darkblue;
}

nav > ul > li:hover > .snav {
    top: 100%;
    opacity: 1;
    visibility: visible;
}

.snav > li {
    width: 100%;
    position: relative;
    z-index: 100;
}

.snav > li:hover {
    background: white !important;
}

.snav > li > a {
    color: inherit;
}

/* active link */
nav > ul > li > a.active {
    color: white;
    background: darkblue;
}

.snav > li:hover > a {
    color: darkblue;
}

.ssnav {
    position: absolute;
    top: 0;
    left: 140%;
    list-style: none;
    background: white;
    color: darkblue;
    width: max-content;
    border: 1px solid darkblue;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;

}

.ssnav > li {
    position: relative;
}

.ssnav > li > a {
    text-decoration: none;
    color: inherit;
}

.ssnav > li:hover {
    background: darkblue;
}

.ssnav > li:hover > a {
    color: #fff;
}

.snav > li:hover > .ssnav {
    visibility: visible;
    opacity: 1;
    left: 100%;
}


/* Hero Section */

.hero {
    width: 100%;
    padding: 0 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 40px;
}

.hero > .left {
    display: grid;
    justify-content: start;
    align-content: center;
    gap: 12px;
}

.hero > .left > h1 {
    font-size: 48px;
}

.hero > .left > p {
    font-size: 14px;
    font-style: italic;
    color: #333;
}

.hero > .right > img {
    width: 100%;
}


/* Team Section */

.team {
    width: 100%;
    padding: 0 100px;
    margin-bottom: 40px;
}

.team > h2 {
    text-align: center;
    font-size: 36px;
    padding: 20px;
}

.team > .members {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.team > .members > .member {
    border: 1px solid #666;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px #666;
    text-align: center;
    transition: 0.3s;
}

.team > .members > .member > img {
    width: 100%;
    border-radius: 50%;
    border: 1px solid #666;
    padding: 12px;
}

.team > .members > .member > h3 {
    font-size: 28px;
}

.team > .members > .member > p {
    color: blue;
    margin-bottom: 20px;
    margin-top: -3px;
}

.team > .members > .member > p::before {
    content: "- ";
}

.team > .members > .member > p::after {
    content: " -";
}

.team > .members > .member:hover {
    transform: translateY(-6px);
}

/* gallery section */
.gallery {
    width: 100%;
    padding: 0 100px;
    margin-bottom: 40px;
}

.gallery > h2 {
    text-align: center;
    font-size: 36px;
    padding: 20px;
}

.gallery > .images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
    margin-bottom: 12px;
}

.gallery > .images > div {
    position: relative;
    overflow: hidden;
}

.gallery > .images > div::before {
    content: "View";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    transition: 0.3s;
    display: grid;
    place-items: center;
    color: #fff;
    font-size: 22px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.gallery > .images > div:hover::before {
    top: 0%;
}

.gallery > .images > div > img {
    width: 100%;
    height: 200px;
    display: block;
    object-fit: cover;
}

/* footer section */

footer {
    width: 100%;
    padding: 40px 100px;
    background: #00008b;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

footer > div > ul {
    list-style: none;
}

footer > div > ul >li:first-child {
    font-size: 20px;
    margin-bottom: 12px;
    color: #fff;
}

footer > div > ul >li {
    font-size: 14px;
    font-style: italic;
    color: #999;
    cursor: pointer;
}

footer > div > ul >li:hover {
    color: #fff;
}