*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-1 {
    width: 100%;
    height: 100vh;
    background: limegreen;
    display: grid;
    grid-gap: 20px;
    padding: 20px;
    /* grid-template-rows: auto auto auto auto; */
    /* grid-template-columns: auto auto auto; */
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* grid-template-columns: 1fr 2fr 1fr; */
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: minmax(100px, 150px) 2fr minmax(auto, 1fr);
}

.container-1 > div {
    background: yellow;
}

.container-2 {
    width: 100%;
    height: 100vh;
    display: grid;
    background: pink;
    grid-gap: 20px;
    padding: 20px;
}

.container-2 > div {
    background: hotpink;
}

.container-2 > div:first-child {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.container-2 > div:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.container-2 > div:nth-child(3) {
    grid-column: 4 / 5;
    grid-row: 1 / 3;
}

.container-2 > div:nth-child(4) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.container-2 > div:last-child {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
}

.container-3 {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-gap: 20px;
    padding: 20px;
    background: cornflowerblue;
    grid-template-columns: repeat(4, 1fr);
}

.container-3 > div {
    background: skyblue;
}

.container-3 > div:first-child {
    grid-column: span 2;
    grid-row: span 1;
}

.container-3 > div:nth-child(2) {
    grid-column: span 1;
    grid-row: span 1;
}

.container-3 > div:nth-child(3) {
    grid-column: span 1;
    grid-row: span 2;
}

.container-3 > div:nth-child(4) {
    grid-column: span 1;
    grid-row: span 1;
}

.container-3 > div:last-child {
    grid-column: span 2;
    grid-row: span 1;
}

.container-4 {
    width: 100%;
    height: 100vh;
    display: grid;
    background: orangered;
    grid-gap: 20px;
    padding: 20px;
    grid-template-areas: 
        "area1 area1 area2 area3" 
        "area4 area5 area5 area3";
}

.container-4 > div {
    background: lightyellow;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    display: grid;
    /* justify-content: center;
    align-items: center; */
    place-items: center;
}

.container-4 > div:first-child {
    grid-area: area1;
}

.container-4 > div:nth-child(2) {
    grid-area: area2;
}

.container-4 > div:nth-child(3) {
    grid-area: area3;
}

.container-4 > div:nth-child(4) {
    grid-area: area4;
}

.container-4 > div:last-child {
    grid-area: area5;
}