*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.transform {
    width: 100%;
    padding: 20px;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 100px);
}

.transform > div {
    width: 100px;
    height: 100px;
    background: cornflowerblue;
    transition: 0.5s;
}

.transform-1:hover {
    transform: translate(50px, 50px);
}

.transform-2:hover {
    transform: scale(120%);
}

.transform-3:hover {
    transform: skew(15deg, 15deg);
}

.transform-4:hover {
    transform: rotate(360deg);
}

.transform-5:hover {
    transform: matrix(1.2, 1, 0, 1.2, 50, 50);
}

.transform-6:hover {
    transform: translate(25%, 25%) skew(10deg, 10deg) scale(1.2, 1.2) rotate(360deg);
}

.animation {
    /* animation: cmbd 2s infinite linear; */
    animation-name: cmbd;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes cmbd {
    0% {
        background: dodgerblue;
        transform: translate(0%, 0%) skew(0deg, 0deg) scale(1, 1) rotate(0deg);
    }
    50% {
        background: limegreen;
        transform: translate(25%, 25%) skew(10deg, 10deg) scale(1.2, 1.2) rotate(180deg);
        border-radius: 50%;
    }
    100% {
        background: dodgerblue;
        transform: translate(0%, 0%) skew(0deg, 0deg) scale(1, 1) rotate(360deg);
    }
}